!!! 5
%html
  %head
    %title= page_title
    %meta{name: :description, content: page_description}
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'HandheldFriendly', content: 'True'}
    %meta{content: "D1Bemo6DvgzHq2UiLiXOMJQuDmV0NGtMlN5LhwEMyrA", name: "google-site-verification"}
    // Twitter
    %meta{content: page_title, name: "twitter:title"}
    %meta{content: page_description, name: "twitter:description"}
    %meta{content: cover_url, name: "twitter:image:src"}
    // Open Graph General (Facebook & Pinterest)
    %meta{content: cover_url, property: "og:image"}
    %meta{content: page_title, property: "og:title"}
    %meta{content: cover_url, property: "og:image"}
    %meta{content: page_description, property: "og:description"}
    %meta{content: 'website', property: "og:type"}
    // Google plus
    %meta{itemprop: 'name',  content: page_title}
    %meta{itemprop: 'description', content: page_description }
    %meta{itemprop:'image', content: cover_url }

    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = favicon_tag 'images/iconemain.png'
    = stylesheet_link_tag :application
    %link{rel: :stylesheet, type: 'text/css', href: '//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400'}
  %body{class: "#{page_class} nav-closed"}

    / = partial(:navigation)

    .site-wrapper
      = yield

      %footer.site-footer.clearfix
        %section.copyright
          = link_to "the dev", home_path
          &copy;
          = Time.now.year

    = javascript_include_tag :application