= wrap_layout :layout do
  %header.bg-center.bg-cover{cover}
    .py-10{ class: "bg-neutral-50/50" }
      %h1.text-9xl.text-center.mb-4.font-bold.font-sans 
        = current_article.title
      
    
  %main.grid.grid-cols-3.gap-4
    %article.col-start-2.my-12
      %section
        - if tags?
          on #{tags}
        = partial(:translation)
      %section= yield
      
      %footer.py-10
        - if gravatar?
          %img.inline.mr-4.rounded-full{ src: gravatar(24)}
          Fabien G
        
      %div
        - if prev_article = current_article.previous_article
          - attributes = { href: prev_article.url }.merge(cover(prev_article))
          %a.read-next-story{attributes}
            %section.post
              %h2= prev_article.title
              %p #{read_next_summary(prev_article, 19)}&hellip;
        - if next_article = current_article.next_article
          - attributes = { href: next_article.url }.merge(cover(next_article))
          %a.read-next-story.prev{attributes}
            %section.post
              %h2= next_article.title
              %p #{read_next_summary(next_article, 19)}&hellip;
